[% project.to_nexus('-make_translate',0,'-nodelabels',1) %]
BEGIN r8s;
	[! r8s block written by [% script %] on [% date %] ]
	blformat lengths=persite nsites=[% nchar %] ultrametric=no;
	collapse;
	[%= FOREACH f IN fossils %]
	constrain taxon=[% f.calibrated_taxon %] min_age=[% f.min_age %] max_age=[% f.max_age %];
	[%= END %]
	set smoothing=100;
	divtime method=pl; [ crossv=yes; ]
	describe plot=rato_description;
	describe plot=chrono_description;
	describe plot=phylo_description;
END;